@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
/*     font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;
        font-family: 'Roboto', sans-serif;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-family: 'Poppins', sans-serif;

*/
.signup-form div div {

    /* background-color: aqua ; */
    /* margin-top: 10px; */
}
.reg-form h4{
    font-family: 'Roboto', sans-serif;

}

h6.label{
}
/* label */
.signup-form label{
    font-family: 'Poppins', sans-serif;}
.signup-form input{
    font-family: 'Poppins';
}
.signup-form .submit{
    background-color: #FEBF00 ;
    color: #24243c;
    font-family: 'Poppins';
    border: none;
    text-transform: capitalize;
    padding: 10px;
    
}
.signup-form .submit:hover{
    background-color: #dea90b ;
    color: #24243c;
    
}
.signup-form .footer  h6{
    font-family: 'Poppins';
    color: gray;

}
.signup-form .footer a{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}
.signup-form .footer a:hover{
    text-decoration: underline;
}

@media   (max-width:425px) {
    .background {
        display: none;
    }
    .reg-form.col-4{
        width: 100% !important;
    }
    .reg-form.col-4 div{
        width: 100% !important;
    }
    .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
        left: 55%;
    }
    nav{
        display: none;
    }
}
@media (min-width:425px) and (max-width:767px) {
    .background {
        display: none;
    }
    .reg-form.col-4{
        width: 100% !important;
    }
    
}
@media (min-width:767px) and (max-width:991px) {
    .reg-form.col-4{
        width: 40% !important;
    }
   
    
}