
  /* font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;
        font-family: 'Roboto', sans-serif;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-family: 'Poppins', sans-serif; */


.name{
    color: rgba(243, 246, 248, 0.94);
}
h4{
    font-family: 'Poppins', sans-serif;
    
}
.search input{
    font-family: 'Poppins', sans-serif;

}
h5.notfound{
    text-transform: capitalize;
    /* margin: auto; */
    padding: 15px;
    font-family: 'Lato', sans-serif;
    
}

@media screen and (max-width : 768px) {
    .favmodal{
        width: 90%  !important;
        margin-top: 2rem;
    }
    h4{
        font-size: 1rem;
    }
    
}